h3{
    color : palevioletred;
}
p{
    color : rgb(94, 255, 242);
    text-align: justify;
}
body{
    background: rgb(192, 213, 252);
}
.ratakanan{
    text-align: right;
    color:beige;
    font-weight: bold;
}
.kotakku1{
    border-style: solid;
}